/* Animations */
@keyframes jumping {
	from {top: 0;}
	to {top: -3px;color:#ffc000;}
}
@keyframes back {
	from {top: -3px;color:#ffc000;}
	to {top: 0;color:inherit;}
}

/* Global values */
html, body {
    padding: 0; margin: 0; width: 100%; 
    font-family: 'Cabin', sans-serif;
    word-wrap:break-word;
}

img {width: 100%;}
ul {list-style: none;margin: 0;padding: 0;}

.stroke {
    text-decoration: line-through !important;
}

.avatar img {
    border-radius: 50%;
    border: #C0C0C0 solid 1px;
}

/* Main part */
#issue-content {
    text-align: right;
    display: flex;
}

#issue-title {
    background: #313b44;
    padding: 1.5em;
    font-weight: normal;
    color: #d7e2ea;
    font-size: 2em;
    margin: 0;
}

#issue-sider {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
#issue-chart {
    vertical-align: top;
    text-align: center;
}
#issue-thread {
    background: #eef3f5;
    width: 59%;
    display: inline-block;
    border-left: #d2dce4 solid 1px;
}

#issue-content .title {
    color: #6e7882;
    text-align: left;
    padding: 2em;
    padding-bottom: 0;
    font-size: 1.3em;
}

/* participants list */
#issue-participants ul {
    display: inline-block;
    text-align: left;
    padding-right: 2em;
}

.participant {
    position: relative;text-decoration:none;color:#000;
	animation: back 0.3s 0s 1 forwards;
    vertical-align: middle;
    cursor: pointer;
}

.participant:hover {
	animation: jumping 0.3s 0s 1 forwards;
}

.participant .avatar{
    width: 1.5em;
    padding: 0.5em;
}

.participant > div {
    display:inline-block;
}

.participant .content {
    vertical-align: middle;
    position: relative;
    bottom: 0.5em;
}

/* Comments */
.comment {
    direction: rtl;
    text-align: right;
    vertical-align: top;
    padding: 1em;
    color: #96a3af;
}

.author {
    direction: ltr;
    text-align: left;
}

.comment > div {
    display: inline-block;
    vertical-align: top;
}

.comment .avatar {
    width: 3em;
    padding: 1em;
    padding-left: 0;
}

.author .avatar {
    padding-left: 1em;
    padding-right: 0;
}

.comment .content {
    width: calc(100% - 10em);
    padding: 1em;
    border-radius: 15px;
    background: #fff;
    margin-top: 1em;
}

.author .content {
    background: #f3fcff;
}

.comment .triangle {
    margin-top: 2em;
    border-right: 0.7em solid transparent;
    border-top: 0.7em solid transparent;
    border-left: 0.7em solid #fff;
    border-bottom: 0.7em solid transparent;
}

.author .triangle {
    border-right: 0.7em solid #f3fcff;
    border-left: 0.7em solid transparent;
}

/* Adaptation small size */
@media all and (max-width: 50em) {
#issue-content {
    display: block;
}
#issue-sider {
    width: 100%;
}
#issue-thread {
    width: 100%;
}
